h2 Create a deck

form(name='createDeckForm')
  input(placeholder='Deck name' type='text' ng-model='deck.name' required)
  input(type='submit' ng-click='validate()')

  p Cards
  .deck-cards
    .cards-column
      div(ng-repeat='card in deck.cards track by card.id')
        p {{card.quantity}}
        gamecard(
          card='cardsbyId[card.id]'
          context='deck_creation'
          size='small'
        )

h2 Library

.cardlist
  gamecard(
    ng-repeat='card in cards track by card.id'
    card='card'
    context='library'
  )
