h2 Create a deck

form(name='createDeckForm')
  input(placeholder='Deck name' type='text' ng-model='deck.name' required)
  input(type='submit' ng-click='validate()')

  p Cards
  .deck-cards
    .cards-column
      gamecard(
        ng-repeat='card in deck.cards'
        card='cardsbyId[card.id]'
        context='deck_creation'
      )

h2 Library

.cardlist
  gamecard(
    ng-repeat='card in cards track by card.id'
    card='card'
    context='library'
  )
